<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
    <link rel="stylesheet" href="styles.css">
    <!---<script defer src="main.js"></script>--->
    <script defer src="main.js"></script>
</head>
<body>

    <div class="container">
        <h1>Snipster</h1>
        <img class="snip-container">

        <span class="take-snip">
            <h3>Press "S" to take a snip</h3>
        </span>
        <!---<span class="view-random-snips">
            <h3>Press "V" to view random snip</h3>
        </span> --->

        <div class="info">
            <div class="warnings">
                <h2 style="color: black">Warning!</h2>
                <p>This application takes screenshot of 300 by 300 pixels area, starting from the position you are holding your mouse at the time you press "S" key.
                    Make sure to hide everything you don't want to reveal by accident.
                    <br> <br>
                    All screenshots get saved to database for an hour and will be automatically deleted after that.
                </p>
            </div>
        </div>
    </div>

    
</body>
</html>